html, body{
  width: 100%;
}

.content{
  width:100%;
  /*margin: auto;*/
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-holder, .settings-holder{
  height: 100%;
  width: 79%;
  display:inline-block;
/*  display: inline-block;
  vertical-align: top;*/
}

.sliders{
  display: block;
}

.sliders div{
  white-space: nowrap;
}

.settings-holder{
  display: inline-block;
  width: 15%;
  vertical-align: top;
}

.buttons-holder{
  display: inline-block;
  width: 100%;
  vertical-align: top;
  margin-top: 20px;
}

.slider-labels{
  display: inline-block;
  width: 40%;
  font-size: 12px;
  text-align: right;
}

/*.ui-slider-handle, .ui-slider{
  height: 10px;
}*/


.update-settings{
  width: 100%;
  display: block;
  height: 40px;
  border-radius: none;
  color: white;
  background-color: black;
  border: none;
  margin: 5px;
  border: 2px solid transparent;
}

.update-settings:hover{
  color: black;
  background-color: white;
  border: 2px solid black;
}

.update-settings:focus{
  outline:none;
    color: white;
  background-color: black;
}

.quick-add{
  width: 80%;
  text-align: center;
  border-radius:none;
  border: none;
  display: block;
  margin: 1px auto;
  height: 20px;
}

.quick-add:focus, .clear:focus, .infinite, .set-background-color{
  outline: none;
}

.quick-add-holder{
  margin-top: 10px;
  display: block;
  margin: auto;
  text-align: center;
  width: 100%;
}

.quick-add-label{
  display: block;
  text-align: center;
  width: 100px;
  margin: 10px auto;
}

.clear, .infinite{
  width: 80%;
  text-align: center;
  border-radius:none;
  border: none;
  display: block;
  margin: 1px auto;
  height: 20px;
}

.color-schema{
  margin: 10px auto;
}

.color-schema div{
  margin: auto;
  text-align: center;
}

.color-scheme-label{
  display: block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.picker{
  display: block;
}

.set-background-color{
  width: 100px;
  text-align: center;
  border-radius:none;
  border: none;
  margin-top: 2px;
  height: 20px;
}

.color-picker-labels{
  width: 150px;
  display: inline-block;
  text-align: right;
}

.gravity-settings{
  margin: auto;
  text-align: center;
  width: 100%;
}

.gravity-buttons{
  width: 80%;
  text-align: center;
  border-radius:none;
  border: none;
  display: inline-block;
  margin-top: 2px;
  height: 25px;
}

.gravity-buttons:focus{
  outline:none;
}

.instructions{
  margin-top: 20px;
}



/**{border: 1px solid black;}*/
